 <script src="https://cdn.ruddernation.com/js/jquery.js"></script>
                <button href="#" id="rndroom" type="button">Random Room</button>
<script type="text/javascript">

function roomRand()
{
    var room = "";
    var uv = "1234567890abcdefghijklmnopqrstuvwxyz";
    for (var i = 0; i < 6; i++)
    {
        room += uv.charAt(Math.floor(Math.random() * 32));
    }
    return room;
}
$('#rndroom').click(function(){
    var room = roomRand();
    console.log("Random Room = " + "http://www.ruddernation.net/" + room);
    window.location = "http://www.ruddernation.net/" + room;    
});
</script>
